.container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .btn {
    margin-right: 5px;
  }

  .add-library-btn {
    margin-top: 10px;
    background-color: #28a745; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s;
  }
  
  .add-library-btn:hover {
    background-color: #218838; 
  }

  .update-btn {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 5px 10px; /* Add padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as inline block */
    font-size: 14px; /* Font size */
    border-radius: 4px; /* Add rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
  }
  
  .update-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  /* Delete button specific styles */
  .delete-btn {
    background-color: #dc3545; /* Red background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 5px 10px; /* Add padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as inline block */
    font-size: 14px; /* Font size */
    border-radius: 4px; /* Add rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
  }
  
  .delete-btn:hover {
    background-color: #c82333; /* Darker red on hover */
  }
  